
page-gallery {
    ion-header{
        background: white;
        padding:0px;
         }
.gallery-title{
    margin-top: 10px;
    color: rgb(5, 5, 104);
    
}
.profile-header .icon{
    font-size: 25px;
    
     }
     
.gallery-header .icon{
    font-size: 25px;
    
     }
.gallery-icons{
    font-size: 50px;
    display: block;
}}