page-fee-payment {
    ion-header{
        background: white;
        padding:0px;
         }
         .page-icons{
            font-size: 50px;
            display: block;
        }
.page-title{
        margin-top: 10px;
        color: rgb(5, 5, 104);
        }
     .page-header .icon{
        font-size: 25px;
        }
        .grid1 .col{
            border: think solid black;
        }
    
        .row1{
            text-transform: capitalize;
            font-size: medium;
            background: rgb(76, 94, 255);
            color:white;
            font-weight: bold;
           
            }    
            .row2{
                text-transform: capitalize;
                font-size: medium;
                background: white
               
                }   

}
