page-examination-list {
    ion-header{
        background: white;
        padding:0px;
         }
.page-title{
        margin-top: 10px;
        color: rgb(5, 5, 104);
        }
     .page-header .icon{
        font-size: 25px;
        }
}
